### Import required modules

In [604]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn import svm
import ntpath

### Load datasets and store them in dataframes

In [1225]:
train_file = 'ENTER PATH TO TRAIN FILE HERE'
test_file = 'ENTER PATH TO TEST FILE HERE'

In [1226]:
train_file = ntpath.basename(train_path)
test_file = ntpath.basename(test_path)

In [1227]:
train_df = pd.read_csv(train_path, sep=',')
test_df = pd.read_csv(test_path, sep=',')

### Drop unused columns from the dataframes

In [1228]:
train_df = train_df.drop("javafile", 1)
train_df = train_df.drop("classfile", 1)

test_df = test_df.drop("javafile", 1)
test_df = test_df.drop("classfile", 1)

C:\Users\nablo\AppData\Local\Temp\ipykernel_7984\3250665714.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  train_df = train_df.drop("javafile", 1)
C:\Users\nablo\AppData\Local\Temp\ipykernel_7984\3250665714.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  train_df = train_df.drop("classfile", 1)
C:\Users\nablo\AppData\Local\Temp\ipykernel_7984\3250665714.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  test_df = test_df.drop("javafile", 1)
C:\Users\nablo\AppData\Local\Temp\ipykernel_7984\3250665714.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  test_df = test_df.drop("classfile", 1)

### Print stuff for visual testing

In [1229]:
train_df.head()

,WMC,CBO,RFC,LCOM,Ca,Ce,NPM,LCOM3,LCO,DAM,MOA,MFA,CAM,IC,CBM,AMC,bug_prone
0,3,2,6,3,0,2,3,2.0000,9,0.0,0,0.0,0.5833,0,0,2.00,False
1,4,1,6,0,0,1,4,0.6667,34,1.0,0,0.0,0.5000,0,0,6.75,False
2,2,2,2,1,0,2,2,2.0000,2,0.0,0,0.0,0.7500,0,0,0.00,True
3,1,0,2,0,0,0,1,2.0000,5,0.0,0,1.0,1.0000,0,0,4.00,True
4,4,6,10,0,0,6,4,0.3333,43,1.0,0,0.0,0.3750,0,0,9.50,False

In [1230]:
train_df.shape

(439, 17)

In [1231]:
test_df.head()

,WMC,CBO,RFC,LCOM,Ca,Ce,NPM,LCOM3,LCO,DAM,MOA,MFA,CAM,IC,CBM,AMC,bug_prone
0,3,3,11,1,0,3,2,0.5938,103,0.0,0,0.0,0.8333,0,0,28.00,True
1,2,5,11,0,0,5,1,0.0000,44,0.0,0,0.0,0.6250,0,0,20.50,True
2,2,7,20,0,0,7,1,0.0000,108,0.0,0,0.0,0.7500,0,0,52.50,True
3,4,4,7,4,0,4,3,0.6667,30,0.0,0,0.0,0.5000,0,0,6.25,True
4,2,3,4,0,0,3,1,0.0000,13,0.0,0,0.0,0.6667,0,0,5.00,True

In [1232]:
test_df.shape

(1340, 17)

### Convert into NumPy arrays

In [1233]:
train_arr = np.array(train_df, dtype = 'float32')
test_arr = np.array(test_df, dtype = 'float32')

### Split data into metrics (X) ang labels (Y)

In [1234]:
X_train = train_arr[:,0:16]
y_train = train_arr[:,16]

X_test = test_arr[:,0:16]
y_test = test_arr[:,16]

### Split the training dataset into 80% for training and 20% for validation

In [1235]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.2, random_state = 0)

In [1236]:
X_train.shape, y_train.shape, X_val.shape, y_val.shape

((351, 16), (351,), (88, 16), (88,))

### List of classifiers to be used

In [1237]:
rf = RandomForestClassifier(n_estimators=100)
gnb = GaussianNB() # Gaussian Naive Bayes
dt = tree.DecisionTreeClassifier()
neigh = KNeighborsClassifier(n_neighbors=3)
lr = LogisticRegression(random_state=0)
mlp = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1) # Multi-layer Perceptron
#svm = svm.SVC() # Support Vector Machines

### Initialize and run classifier

In [1238]:
classifier = rf  # CHOOSE FROM THE LIST ABOVE

In [1239]:
classifier.fit(X_train, y_train)

RandomForestClassifier()

### Evaluate on validation set

In [1240]:
classifier.score(X_val, y_val)

0.8295454545454546

### Predict on test set and print the performance results

In [1241]:
prediction = classifier.predict(X_test)

In [1242]:
print(
    f"Classification report for {classifier} traind on {train_file} and tested on {test_file}:\n\n"
    f"{metrics.classification_report(y_test, prediction)}\n"
)

Classification report for RandomForestClassifier() traind on tessera.csv and tested on talon.csv:

              precision    recall  f1-score   support

         0.0       0.29      0.62      0.39       323
         1.0       0.81      0.50      0.62      1017

    accuracy                           0.53      1340
   macro avg       0.55      0.56      0.51      1340
weighted avg       0.68      0.53      0.57      1340

In [1243]:
with open('results.txt', 'a') as f:
    f.write(f"Classification report for {classifier} traind on {train_file} and tested on {test_file}:\n\n"
    f"{metrics.classification_report(y_test, prediction)}\n"
)